<!DOCTYPE html>
<html>
  <head>
    <title>Simple Calculator</title>
    <link rel="stylesheet" href="angular-material.min.css">
    <link rel="stylesheet" href="font.css">
    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="angular-aria.min.js"></script>
    <script src="angular-material.min.js"></script>
    
    <script src="app.js"></script>
  </head>
  <body ng-app="SimpleCalculator">
    <div layout="column" ng-controller="MainController">
      <div layout layout-sm="column">
        <md-input-container style="width:100%">
          <input disabled ng-model="operation.text" md-no-autogrow="false" style="text-align: right;" maxlength="10">
        </md-input-container>
      </div>
      <div layout="row" class="butons-row">
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(7)">7</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(8)">8</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(9)">9</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="operatorClick('/')">/</md-button>
        </div>
      </div>
      <div layout="row">
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(4)">4</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary"ng-click="numberClick(5)">5</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(6)">6</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="operatorClick('*')">*</md-button>
        </div>
      </div>
      <div layout="row">
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(1)">1</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(2)">2</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(3)">3</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="operatorClick('-')">-</md-button>
        </div>
      </div>
      <div layout="row">
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="numberClick(0)">0</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="operatorClick('+')">+</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="operatorClick('=')">=</md-button>
        </div>
        <div flex>
          <md-button md-no-ink class="md-primary" ng-click="clearOperation()">C</md-button>
        </div>
      </div>
    </div>
  </body>
</html>